.student-details table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .student-details td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .student-details tr:nth-child(even) {
    background-color: #979694;
  }
  
  .student-details tr:hover {
    background-color: #33332d;
  }

  :root {
    --color-background: #0c0e0e;
  }
  
  body {
    background-color: var(--color-background);
  }