.student-details table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .student-details td {
    padding: 8px;
    border-bottom: 1px solid #a0a0a0;
  }
  
  .student-details tr:nth-child(even) {
    background-color: #979694;
  }

  .student-details tr:nth-child(odd) {
    background-color: #a0a0a0;
  }
  
  .student-details tr:hover {
    background-color: #33332d;
  }

  :root {
    --color-background: #33332d;
  }
  
  body {
    background-color: var(--color-background);
  }

  .user-info {
    display: flex;
    justify-content: flex-end;
    color: #979684;
    padding: 10px; 
  }
  
  .icon {
    font-size: 18px; 
    font-weight: bold;
  }

  button {
    background-color: #212121; 
    color: #a0a0a0; 
    border: none; 
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer; 
  }
  
  button:hover {
    opacity: 0.8; 
  }

/* Work todo */

.student {
  /* Add any styles specific to the student list item */
}

.label {
  font-weight: bold; /* Replaces the strong element's functionality */
  color: #a0a0a0
}

.student-name,
.student-passport {
  color: #ffefd5
}

.toggle-details-button {
  /* Add any styles for the toggle details button */
}

.student-details {
  /* Add any styles for the student details section */
}

.delete-button {
  /* Add any styles for the delete button */
}

  
  